/* Genel Arka Plan Rengi */
/* Arka plan rengini gri yapıyoruz */
body {
  background-color: #f0f0f0; /* açık gri */
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Navbar düzeni */
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar li {
  margin: 0;
}

/* Navbar'daki butonlar zaten kırmızıya uyar çünkü index.css'teki global button geçerli */
