/* Genel sayfa stili */
body {
  background-color: transparent;
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}


/* Üst bar alanı */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent; /* Şeffaf arka plan */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  z-index: 1000;
  border: 2px solid #333; /* Koyu gri çerçeve */
  border-left: none;
  border-right: none;
  backdrop-filter: blur(4px); /* Opsiyonel: arka plan hafif bulanık görünür */
  height: 100px; /* Topbar yüksekliğini sabitle */
}

/* Logo alanı (logo boyutunu büyüt) */
.logo-img {
  height: 150px; /* Logonun boyutunu biraz daha büyük yapmak için ayarladık */
  width: auto;
  filter: drop-shadow(6px 2px 5px rgba(0, 0, 0, 0.5));
  margin-top: 5px; /* Üstten biraz boşluk ekleyin */
  margin-bottom: 5px; /* Alt taraftan da boşluk ekleyin */
}

/* Navbar */
.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 7px 18px;
  border-radius: 5px;
  transition: background-color 0.2s;
  background: none;
  border: none;
  outline: none;
  color: #000;
}

.navbar li a:hover {
  background-color: #e0e0e0;
}
