/* styles.css */

body {
    background-color: #d9d9d9;  /* Açık gri */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.navbar li {
    display: inline;
}

.navbar button {
    background-color: #e53935; /* kırmızı */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.navbar button:hover {
    background-color: #b71c1c; /* daha koyu kırmızı */
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
