/* Team.css */
.team-container {
    padding: 40px; /* Güncellenmiş padding */
    background-color: #f3f4f6; /* Yeni arka plan rengi */
    text-align: center; /* Ortalamayı sağlamak için */
    min-height: 100vh; /* Sayfanın tamamını kaplayacak şekilde */
}

.team-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.trainer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ortalamayı sağlamak için */
    gap: 20px; /* Öğeler arasında boşluk */
}
